@tailwind base;
@tailwind components;
@tailwind utilities;

/* @keyframes liquidMove {
  0% { transform: translate(0, 0) scale(1); }
  50% { transform: translate(10px, -10px) scale(1.05); }
  100% { transform: translate(0, 0) scale(1); }
}

.chat-bubble::before {
  animation: liquidMove 8s ease-in-out infinite;
} */